<div style="margin-top: 70px" class="container">
  <header>
    <div class="col-md-12">
      <nav style="clear: both">
        <ol class="breadcrumb repo-breadcrumb">
          <li class="breadcrumb-item">
            <a
              href="/administrator"
              [routerLink]="['/administrator']"
              class="router-link-active"
              >Quản trị ADMIN</a
            >
          </li>
          <li class="breadcrumb-item">
            <a
              href="/userstable"
              [routerLink]="['/userstable']"
              class="router-link-active"
              >Quản lý USER</a
            >
          </li>
        </ol>
      </nav>

      <div class="card card-container">
        <img
          id="profile-img"
          src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          class="profile-img-card"
        />
        <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="formCreateEditUser" [editable]="true">
            <ng-template matStepLabel>Thông tin người dùng</ng-template>
            <form [formGroup]="formCreateEditUser" novalidate>
              <div class="form-group">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Tên</mat-label>
                  <input
                    matInput
                    type="text"
                    name="name"
                    formControlName="name"
                    class="example-full-width"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Họ</mat-label>
                  <input
                    matInput
                    type="text"
                    name="surname"
                    formControlName="surname"
                    class="example-full-width"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Username</mat-label>
                  <input
                    matInput
                    type="text"
                    name="username"
                    formControlName="username"
                    class="example-full-width"
                    required
                    (input)="checkUserUsername()"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    placeholder="pat@example.com"
                    formControlName="email"
                    required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    (input)="checkUserEmail()"
                  />
                  <mat-error
                    [hidden]="
                      !formCreateEditUser.controls['email'].errors?.pattern
                    "
                    >Please enter correct format</mat-error
                  >
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  class="example-full-width"
                  *ngIf="formCreateEditUser.value.id == null"
                >
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    formControlName="password"
                    [type]="hidePassword ? 'password' : 'text'"
                    required
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword"
                  >
                    <mat-icon>{{
                      hidePassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
              </div>

              <div class="form-group">
                <button
                  class="btn btn-primary btn-block"
                  matStepperNext
                  [disabled]="this.checkUser == false"
                >
                  Tiếp tục
                </button>
                <button
                  type="button"
                  (click)="cancel()"
                  mat-raised-button
                  class="btn-block"
                >
                  Thoát
                </button>
              </div>
              <div class="alert alert-warning" *ngIf="isSignUpFailed">
                Thất bại!<br />{{ errorMessage }}
              </div>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Lưu</ng-template>
            <p>Chắn chắn lưu thông tin này?</p>

            <div>
              <button (click)="saveUser()">Lưu</button>
              <button mat-button matStepperPrevious>Quay lại</button>
            </div>

            <div class="alert alert-warning" *ngIf="isSignUpFailed">
              Tạo mới người dùng thất bại!<br />{{ errorMessage }}
            </div>

            <div class="alert alert-warning" *ngIf="isEditFailed">
              Cập nhật người dùng thất bại!<br />{{ errorMessage }}
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </header>
</div>
