<div style="margin-top: 55px" class="container">
  <header>
    <nav>
      <ol
        *ngIf="role == 'ROLE_ADMINISTRATOR'"
        class="breadcrumb repo-breadcrumb"
      >
        <li class="breadcrumb-item">
          <a
            href="/administrator"
            [routerLink]="['/administrator']"
            class="router-link-active"
          >
            Quản trị ADMIN
          </a>
        </li>
      </ol>
    </nav>

    <div class="box mb-3" *ngIf="role == 'ROLE_ADMINISTRATOR'">
      <button mat-raised-button color="primary" (click)="openCreate()">
        Thêm mới khóa học
      </button>
    </div>
    <div *ngIf="role != 'ROLE_ADMINISTRATOR'">
      <br />
      <h2><b> Khóa học miễn phí </b></h2>
    </div>

    <div *ngIf="courses && courses.length > 0; else noCourses" class="row mt-4">
      <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let c of courses">
        <a [routerLink]="['/coursestable', c.id]" class="text-decoration-none">
          <div
            style="border-radius: 15px; height: 280px"
            class="shadow border-0 hover-move-card cursor-pointer"
          >
            <img class="course-img" [src]="getImageUrl(c.thumbnailUrl)" />

            <div class="card-body p-2">
              <h4 class="card-title m-0 text-truncate" [title]="c.name">
                <b>
                  {{ c.name }}
                </b>
              </h4>
              <div
                class="text-danger font-weight-bold d-flex justify-content-between"
              >
                <span>Miễn phí</span>
                <span class="edit-icon">
                  <mat-icon style="font-size: 18px; height: 18px; width: 18px;">edit</mat-icon>
                </span>
              </div>
            </div>

            <div style="color: black" class="border-0">
              <ul class="d-flex justify-content-center p-0">
                <li class="list-inline-item mr-3">⭐ {{ c.numRating }}</li>
                <li class="list-inline-item mr-3">▶️ {{ c.numLesson }}</li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    </div>
    <ng-template #noCourses>
      <div class="text-center"><h3>Không có khóa học nào.</h3></div>
    </ng-template>
  </header>
</div>
