.full-width-table {
  max-height: 320px; /* Tương đương khoảng 5–6 dòng */
  overflow-y: auto;
  border-radius: 10px;
  /* border: 1px solid #dee2e6; */
  width: 100%;
}

/* Scrollbar đẹp hơn */
.full-width-table::-webkit-scrollbar {
  width: 6px;
}

.full-width-table::-webkit-scrollbar-thumb {
  background: #b7c8d6;
  border-radius: 10px;
}

tbody tr:hover {
  background-color: #f1f7ff !important;
  transition: 0.2s;
}

.table-scroll {
  max-height: 400px;
  overflow-y: auto;
}
::ng-deep .mat-cell {
  /* border: 2px solid #dee2e6; */
  padding: 3px;
}
.mat-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
