<div style="margin-top: 55px" class="container">
  <header>
    <nav>
      <ol
        *ngIf="role == 'ROLE_ADMINISTRATOR'"
        class="breadcrumb repo-breadcrumb"
      >
        <li class="breadcrumb-item">
          <a
            href="/administrator"
            [routerLink]="['/administrator']"
            class="router-link-active"
          >
            Quản trị ADMIN
          </a>
        </li>
      </ol>
    </nav>

    <div class="box mb-3" *ngIf="role == 'ROLE_ADMINISTRATOR'">
      <button mat-raised-button color="primary" (click)="openCreate()">
        Thêm mới Bài kiểm tra
      </button>
    </div>
    <div *ngIf="role != 'ROLE_ADMINISTRATOR'">
      <br />
      <h2><b> Các bài kiểm tra </b></h2>
    </div>

    <div *ngIf="quizs && quizs.length > 0; else noQuizs" class="row mt-4">
      <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let c of quizs">
        <a [routerLink]="['/quizs', c.id]" class="text-decoration-none">
          <div
            style="border-radius: 15px; height: 280px"
            class="shadow border-0 hover-move-card cursor-pointer"
          >
            <div class="card-body p-2">
              <h4 class="card-title mb-1 text-truncate" [title]="c.name">
                <b>
                  <!-- {{ c.name }} -->
                </b>
              </h4>
              <div class="text-danger font-weight-bold">Miễn phí</div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <ng-template #noQuizs>
      <div class="text-center"><h3>Không có bài kiểm tra nào.</h3></div>
    </ng-template>
  </header>
</div>
