<div id="app">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white fixed-top border-bottom border-danger"
  >
    <a class="navbar-brand" routerLink="home">
      <img style="height: 30px" src="assets/logo.png" alt="Logo" />
    </a>

    <!-- Nút 3 gạch: dùng (click) để toggle -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isOpen = !isOpen"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Khối collapse: chỉ cần thêm [class.show]="isOpen" -->
    <div class="collapse navbar-collapse" [class.show]="isOpen">
      <!-- ====== MENU CỦA ANH (giữ nguyên) ====== -->
      <ul
        class="navbar-nav w-100 justify-content-lg-center"
        routerLinkActive="active"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="home" (click)="close()">TRANG CHỦ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-0" routerLink="coursestable" (click)="close()"
            >KHÓA HỌC <i class="ml-1 mt-1 fa fa-caret-down"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home" (click)="close()">LIÊN HỆ</a>
        </li>
        <li class="nav-item" *ngIf="roleAdmin">
          <a class="nav-link" routerLink="administrator" (click)="close()"
            >Quản trị ADMIN</a
          >
        </li>


       
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a
            class="nav-link text-nowrap"
            routerLink="register"
            (click)="close()"
            >Đăng ký</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" routerLink="login" (click)="close()"
            >Đăng nhập</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ml-auto align-items-center" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="profile" (click)="close()">{{
            username
          }}</a>
        </li>
        <li class="nav-item">
          <a style="white-space: nowrap; cursor: pointer;" class="nav-link" (click)="logout(); close()">Thoát</a>
        </li>
      </ul>
    </div>
  </nav>

  <div></div>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >

    <button class="dropdown-btn">
      Users
      <i class="fa fa-caret-down"></i>
    </button>


  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
